{% extends 'base.html' %}

{% block title %}Detalle de proyecto{% endblock %}

{% block content %}
<h1>{{ proyecto.nombre }}</h1>
<p>{{ proyecto.descripcion }}</p>
<p>Fecha de inicio: {{ proyecto.fecha_inicio }}</p>
<p>Fecha final: {{ proyecto.fecha_final }}</p>

<h2>Frentes de obra</h2>
<ul>
  {% for frente in proyecto.frentes %}
  <li>
    <a href="/proyecto/detalles/{{ proyecto.id}}/frente/{{ frente.id}}">{{ frente.nombre }}</a>
    <a href="/proyecto/detalles/{{ proyecto.id }}/frente/{{ frente.id}}/editar" class="btn btn-primary btn-sm">Editar</a>
  </li>
  {% endfor %}
</ul>

<a href="/registro/frentes" class="btn btn-primary">Agregar frente de obra</a>
{% endblock %}