{% extends 'base.html' %}
{% block title %}Estimación de servicios ejecutados{% endblock %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/numbro@2.3.6/dist/numbro.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">

<h1>Estimación de Servicios Ejecutados</h1>
<br>
<div>
  <label for="searchInput">Búsqueda:</label>
  <input type="text" id="searchInput">
  <a href="#" class="btn btn-primary" id="searchButton">Buscar</a>
  <a href="#" class="btn btn-primary" id="showAllButton">Mostrar todo</a>
  <a href="#" class="btn btn-primary" id="addRowButton">+</a>
  <a href="#" class="btn btn-primary" id="removeRowButton">-</a>
</div>
<br>
<div id="hot"></div>
<br>
<div id="total">Total Importe: $0.00</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const formatMX = {
      pattern: '0,0.00 $',
      culture: 'en-US',
    };
    var container = document.getElementById('hot');
    var hot;
    var data = [];
    var columns = [
      { type: 'dropdown', source: [{% for concepto in frente.catalogos_relacionados %}'{{concepto.clave}}',{% endfor %}], allowHtml: true, allowInvalid: false }, // Clave Con.
      { type: 'dropdown', source: [{% for concepto in frente.catalogos_relacionados %}'{{concepto.descripcion}}',{% endfor %}], allowHtml: true,  allowInvalid: false }, // Concepto de Obra
      { type: 'dropdown', source: [{% for concepto in frente.catalogos_relacionados %}'{{concepto.unidad}}',{% endfor %}], allowHtml: true,  allowInvalid: false }, // Unidad
      { type: 'numeric', allowInvalid: false }, // Según Proyecto
      { type: 'numeric', allowInvalid: false }, // Hasta Estimación Anterior
      { type: 'numeric', allowInvalid: false }, // De Esta Estimación
      { type: 'numeric', allowInvalid: false, readOnly: true, renderer: totalEstimadoRenderer }, // Total Estimado (calculated)
      { type: 'numeric', allowInvalid: false, readOnly: true, renderer: porEjecutarRenderer }, // Por Ejecutar (calculated)
      { type: 'autocomplete', strict: 'false', filter: 'false', numericFormat: formatMX, source: [{% for concepto in frente.catalogos_relacionados %}'{{concepto.costo_unitario}}',{% endfor %}], allowHtml: true, allowInvalid: false }, // Precio Unitario
      { type: 'numeric', numericFormat: formatMX, readOnly: true, renderer: importeRenderer } // Importe (calculated)
    ];
    var colHeaders = ['Clave Con.', 'Concepto de Obra', 'Unidad', 'Según Proyecto', 'Hasta Estimación Anterior', 'De Esta Estimación', 'Total Estimado', 'Por Ejecutar', 'Precio Unitario', 'Importe'];

    data.push(['', '', '', '', '', '', 0, 0, '', 0]);

    function calculateTotal() {
      var data = hot.getSourceData();
      var total = 0;
      for (var i = 0; i < data.length; i++) {
        total += parseFloat(data[i][9]);
      }
      if (total != 0) {
        document.getElementById('total').textContent = 'Total Importe: ' + formatCurrency(total);
      } else {
        document.getElementById('total').textContent = 'Total Importe: $0.00';
      }
    }

    function formatCurrency(value) {
      return '$' + value.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }

    function filterData(searchQuery) {
      var filteredData = [];
      for (var i = 0; i < data.length; i++) {
        for (var j = 0; j < data[i].length; j++) {
          if (data[i][j].toString().toLowerCase().includes(searchQuery.toLowerCase())) {
            filteredData.push(data[i]);
            break;
          }
        }
      }
      return filteredData;
    }

    function loadData(filteredData) {
      if (!hot) {
        hot = new Handsontable(container, {
          licenseKey: 'non-commercial-and-evaluation',
          data: filteredData,
          rowHeaders: true,
          colHeaders: colHeaders,
          columns: columns,
          columnSorting: true,
          afterChange: function(changes, source) {
            if (source !== 'loadData') {
              // Recalculate 'Por Ejecutar' and 'Importe' columns
              var data = hot.getSourceData();
              for (var i = 0; i < data.length; i++) {
                var segunProyecto = parseFloat(data[i][3]);
                var totalEstimado = parseFloat(data[i][6]);
                data[i][7] = segunProyecto - totalEstimado; // Por Ejecutar

                var deEstaEstimacion = parseFloat(data[i][5]);
                var precioUnitario = parseFloat(data[i][8]);
                data[i][9] = deEstaEstimacion * precioUnitario; // Importe
              }
              hot.render();
              calculateTotal();
            }
          }
        });
      } else {
        hot.loadData(filteredData);
      }
    }

    function totalEstimadoRenderer(instance, td, row, col, prop, value, cellProperties) {
      Handsontable.renderers.TextRenderer.apply(this, arguments);
      var hastaEstimacionAnterior = parseFloat(data[row][4]);
      var deEstaEstimacion = parseFloat(data[row][5]);
      var totalEstimado = hastaEstimacionAnterior + deEstaEstimacion;
      td.innerHTML = parseFloat(totalEstimado);
      data[row][6] = totalEstimado; // Update the value in the data array
    }

    function porEjecutarRenderer(instance, td, row, col, prop, value, cellProperties) {
      Handsontable.renderers.TextRenderer.apply(this, arguments);
      var segunProyecto = parseFloat(data[row][3]);
      var totalEstimado = parseFloat(data[row][6]);
      var porEjecutar = segunProyecto - totalEstimado;
      td.innerHTML = parseFloat(porEjecutar);
      data[row][7] = porEjecutar; // Update the value in the data array
    }

    function importeRenderer(instance, td, row, col, prop, value, cellProperties) {
      Handsontable.renderers.TextRenderer.apply(this, arguments);
      var precioUnitario = parseFloat(data[row][8]);
      var deEstaEstimacion = parseFloat(data[row][5]);
      var importe = precioUnitario * deEstaEstimacion;
      td.innerHTML = formatCurrency(importe);
      data[row][9] = importe; // Update the value in the data array
    }

    document.getElementById("searchButton").addEventListener("click", function() {
      var searchQuery = document.getElementById("searchInput").value;
      var filteredData = filterData(searchQuery);
      loadData(filteredData);
    });

    document.getElementById("showAllButton").addEventListener("click", function() {
      loadData(data);
    });

    document.getElementById("addRowButton").addEventListener("click", function() {
      hot.alter("insert_row_below");
    });

    document.getElementById("removeRowButton").addEventListener("click", function() {
      hot.alter("remove_row");
    });

    loadData(data);
  });
</script>

{% endblock %}
