{% extends 'base.html' %}
{% block title %}Estimación de servicios ejecutados{% endblock %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/numbro@2.3.6/dist/numbro.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">

<h1>Estimación de Servicios Ejecutados</h1>
<script>const demo = document.getElementById('demo'); demo.style.display = 'none' </script>
<br>
<div>
  <label for="searchInput">Búsqueda:</label>
  <input type="text" id="searchInput">
  <button id="searchButton">Buscar</button>
  <button id="showAllButton">Mostrar todo</button>
  <button id="addRowButton">+</button>
  <button id="removeRowButton">-</button>
</div>
<br>
<div id="hot"></div>
<br>
<div id="total">Total Importe: $0.00</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const formatMX = {
      pattern: '0,0.00 $',
      culture: 'en-US',
    };
    var container = document.getElementById('hot');
    var hot;
    var data = [];
    var columns = [
      { type: 'dropdown', source: [{% for concepto in frente.catalogos_relacionados %}'{{concepto.clave}}',{% endfor %}], allowHtml: true, allowInvalid: false }, // Clave Con.
      { type: 'dropdown', source: [{% for concepto in frente.catalogos_relacionados %}'{{concepto.descripcion}}',{% endfor %}], allowHtml: true,  allowInvalid: false }, // Concepto de Obra
      { type: 'dropdown', source: [{% for concepto in frente.catalogos_relacionados %}'{{concepto.unidad}}',{% endfor %}], allowHtml: true,  allowInvalid: false }, // Unidad
      { type: 'numeric', allowInvalid: false }, // Según Proyecto
      { type: 'numeric', allowInvalid: false }, // Hasta Estimación Anterior
      { type: 'numeric', allowInvalid: false }, // De Esta Estimación
      { type: 'numeric', allowInvalid: false }, // Total Estimado
      { type: 'numeric', allowInvalid: false }, // Por Ejecutar (calculated)
      { type: 'autocomplete', strict: 'false', filter: 'false', numericFormat: formatMX, source: [{% for concepto in frente.catalogos_relacionados %}'{{concepto.costo_unitario}}',{% endfor %}], allowHtml: true, allowInvalid: false }, // Precio Unitario
      { type: 'numeric', numericFormat: formatMX, allowInvalid: false } // Importe (calculated)
    ];
    var colHeaders = ['Clave Con.', 'Concepto de Obra', 'Unidad', 'Según Proyecto', 'Hasta Estimación Anterior', 'De Esta Estimación', 'Total Estimado', 'Por Ejecutar', 'Precio Unitario', 'Importe'];

    data.push(['', '', '', '', '', '', '', '', '', '']);

    function calculateTotal() {
      var data = hot.getSourceData();
      var total = 0;
      for (var i = 0; i < data.length; i++) {
        total += parseFloat(data[i][10]);
      }
      if (total != 0) {
        document.getElementById('total').textContent = 'Total Importe: ' + formatCurrency(total);
      } else {
        document.getElementById('total').textContent = 'Total Importe: $0.00';
      }
    }

    function formatCurrency(value) {
      return '$' + value.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }

    function filteredData(searchQuery) {
      var filteredData = [];
      for (var i = 0; i < data.length; i++) {
        for (var j = 0; j < data[i].length; j++) {
          if (data[i][j].toString().toLowerCase().includes(searchQuery.toLowerCase())) {
            filteredData.push(data[i]);
            break;
          }
        }
      }
      return filteredData;
    }

    function loadData(filteredData) {
      if (!hot) {
        hot = new Handsontable(container, {
          licenseKey: 'non-commercial-and-evaluation',
          data: filteredData,
          rowHeaders: true,
          colHeaders: colHeaders,
          columns: columns,
          columnSorting: true,
          afterChange: function(changes, source) {
            if (source !== 'loadData') {
              // Recalculate 'Por Ejecutar' and 'Importe' columns
              var data = hot.getSourceData();
              for (var i = 0; i < data.length; i++) {
                var segunProyecto = parseFloat(data[i][4]);
                var totalEstimado = parseFloat(data[i][7]);
                data[i][8] = segunProyecto - totalEstimado; // Por Ejecutar

                var deEstaEstimacion = parseFloat(data[i][6]);
                var precioUnitario = parseFloat(data[i][9]);
                data[i][10] = deEstaEstimacion * precioUnitario; // Importe
              }
              hot.render();
              calculateTotal();
            }
          }
        });
      } else {
        hot.loadData(filteredData);
      }
    }

    document.getElementById("searchButton").addEventListener("click", function() {
      var searchQuery = document.getElementById("searchInput").value;
      var filteredData = filteredData(searchQuery);
      loadData(filteredData);
    });

    document.getElementById("showAllButton").addEventListener("click", function() {
      loadData(data);
    });

    document.getElementById("addRowButton").addEventListener("click", function() {
      hot.alter("insert_row_below");
    });

    document.getElementById("removeRowButton").addEventListener("click", function() {
      hot.alter("remove_row");
    });

    loadData(data);
  });
</script>

{% endblock %}
