<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto</title>
</head>
<body>

  <h1>Registro de Proyecto</h1>

  <form method="POST">
    <label for="txtNombre">¿Qué desea hacer?</label>
    <br>
    <input type="submit" name="accion" value="registrar" formaction="{{ url_for('registroValues') }}">
    <input type="submit" name="accion" value="consultar" formaction="{{ url_for('consultar') }}">
    <br>
    <a href="/">
      <input type="button" name="" id="" value="Back to Home">
    </a>
  </form>
  <form>
    <a href="{{ url_for('index') }}">
      <input type="button" value="inicio">
    </a>
  </form>

</body>
</html>