{% extends 'base.html' %}

{% block title %}Registro Frentes de obra{% endblock %}

{% block content %}
<h1>Registro de frentes de obra</h1>

<form method="POST">
    <div class="form-group">
      <label for="nombre">Nombre del frente:</label>
      <input type="text" id="nombre" name="nombre" class="form-control" required>
    </div>
  
    <div class="form-group">
      <label for="descripcion">Descripción del frente:</label>
      <textarea id="descripcion" name="descripcion" class="form-control" required></textarea>
    </div>
  
    <div class="form-group">
      <label for="fecha_inicio">Fecha de inicio:</label>
      <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="no_contrato">Numero de contrato:</label>
        <input type="text" id="no_contrato" name="no_contrato" class="form-control" required>
      </div>

    <div class="form-group">
      <label for="fecha_fin">Fecha de fin:</label>
      <input type="date" id="fecha_fin" name="fecha_fin" class="form-control" required>
    </div>
    
    <label for="proyecto">Proyecto asociado:</label>
    <select name="proyecto">
      {% for proyecto in proyectos %}
        <option value="{{ proyecto.id }}">{{ proyecto.nombre }}</option>
      {% endfor %}
    </select><br>

    <input type="submit" name="accion" value="Registar frente" formaction="/registro/frentes1">
  </form>
{% endblock %}