{% extends 'base.html' %}

{% block title %}Registro de proyecto{% endblock %}

{% block content %}
<h1>Proyectos registrados</h1>
<div class="table-resposive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
      </tr>
    </thead>
    <tbody>
      {% for proyecto in proyectos %}
      <tr>
        <td>{{ proyecto.nombre }}</td>
        <td>{{ proyecto.descripcion }}</td>
        <td>{{ proyecto.fecha_inicio }}</td>
        <td>{{ proyecto.fecha_final }}</td>
        <td><a href="/proyecto/detalles/{{proyecto.id}}" class="btn btn-success btn-sm">Detalles</a></td>
        <td><a href="" class="btn btn-delete btn-sm">Editar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
